<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta name="Description" content="${config.description}"/>
    <meta name="Keywords" content="${config.keywords}" />
    <title>验证邮箱 - ${config.title}</title>
</head>
<body>
    <div class="box">
        <center class="title">${config.title}</center><br/>
        <center class="tips">验证邮箱以获得${config.title}的使用权限</center><br/>
        <center><a href="${api.verifylink}" class="spbtn">点击这里验证您的邮箱</a></center><br/>
        <center><a href="${config.url}" class="goto">访问${config.title}官网</a></center>
    </div>
</body>
<style>
.spbtn{
    text-decoration: none;
    background: deepskyblue;
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    border-radius: 3px;
}
.goto{
    color: orange;
    text-decoration: none;
    font-size: 15px;
    border-bottom: solid 1px orange;
}
.tips{
    color: grey;
    font-size: 14px;
}
.box{
    width: 360px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    font-size: 24px;
    font-weight: 100;
    margin-top: 50px;
}
</style>
</html>
